<div class="details">
    <div class="constel-banner">
        <img class="constel-banner-img" src="/assets/detailbgs/Andromeda.jpg" alt="background image">
    </div>
    <div class="constel-content">
        <div class="details-wrapper">
            <div class="constel-header">
                <h1 class="constel-header-title">Andromeda</h1>
                <h2 class="constel-header-family">Family: Heavenly Waters</h2>
                <p class="constel-header-bs">Brightest Star is: Alpharatz</p>
                <p class="constel-header-associations">Known for: Andromeda Galaxy</p>
                <div class="skyarea-gauge">
                    <mwl-gauge class="two" [max]="3.3" [dialStartAngle]="180" [dialEndAngle]="0" [value]="2" [animated]="true" [color]="getColor" [animationDuration]="2"></mwl-gauge>
                    <a class="skyarea-gauge-label" target="_blank" href="https://sleepopolis.com/education/constellations-stars/" style="color: black;">% of the Sky</a>
                </div>
            </div>
            

        </div>
    </div>
</div>