.details-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.details {
    ::ng-deep mwl-gauge {
        width: 150px;
        height: 150px;
        display: block;
        padding: 10px;
        .dial {
            stroke-width: 10;
        }
        .value {
            stroke-dasharray: none;
            stroke-width: 13;
        }
        .value-text {
            color: #fff;
            font-weight: 700;
            font-size: 24px;
        }
    }
    .skyarea-gauge {
        position: absolute;
        top: 50px;
        right: 200px;
        &-label {
            font-size: 20px;
            color: #fff;
            position: relative;
            bottom: 60px;
        }
    }
}
.constel {
    &-banner {
        height: 442px;
        overflow: hidden;
        &-img {
          width: 1200px;
          filter: blur(8px);
          top: 0;
          position:absolute;
        }
    }
    &-content {
        text-align: center;
        position: relative;
        top: -320px;
    }
    &-header {
        background-color: rgba(255, 255, 255, 0.35);
        &-title {
          font-size: 70px;
          color: #000;
          font-weight: 700;
          line-height: 70px;
          white-space: nowrap;
        }
    }
    &-description {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
}
.description {
    width: 600px;
    padding: 20px;
    background-color: rgba(166, 158, 137, 0.95);
    color: #fff;
    border-radius: 25px;
    white-space: pre-wrap;
    text-align: left;
}
