<div class="details">
    <div class="constel-banner" *ngIf="constellationFound | async; let constel">
        <img class="constel-banner-img" src="/assets/detailbgs/{{constel.name}}.jpg" alt="background image">
    </div>
    <div class="constel-content">
        <div class="details-wrapper">
            <div class="constel-header" *ngIf="constellationFound | async; let constel">
                <h1 class="constel-header-title">{{constel.name}}</h1>
                <h2 class="constel-header-family">{{constel.entity}}</h2>
                <p class="constel-header-bs">{{constel.family}} Family</p>
                <p class="constel-header-associations">It's brightest star is the {{constel.brightest_star}}</p>
                <div class="skyarea-gauge">
                    <mwl-gauge class="two" [max]="3.3" [dialStartAngle]="180" [dialEndAngle]="0" [value]="2" [animated]="true" [color]="getColor" [animationDuration]="5"></mwl-gauge>
                    <a class="skyarea-gauge-label" target="_blank" href="https://sleepopolis.com/education/constellations-stars/" style="color: black;">{{constel.skyarea}} of the Sky</a>
                </div>
            </div>
            
            <div class="constel-description" *ngIf="constellationFound | async; let constel">
                <h3 class="description">{{constel.description}}</h3>
            </div>

        </div>
    </div>
</div>