.navigation {
    &-container {
        width: 100%;
        height: 60px;
        background-color: rgb(196, 188, 166);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }
    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    &-search {
        margin-left: 15px;
        padding: 11px;
        width: 300px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        outline: none;
        border:1px solid #eaeaea;
        background-color: white;
        color: gray;
        &:hover{
            box-shadow: 0 9px 9px rgba(0,0,0,0.1);
        }
    }
    &-searchbutton {
        border:1px solid #eaeaea;
        border-left: none;
        outline: none;
        background-color: white;
        width: 50px;
        padding: 11px;
        padding-left: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition-duration: 0.3s;
        cursor: pointer;
        font-weight: 700;
        &:hover{
            box-shadow: 0 9px 9px rgba(0,0,0,0.1);
            background-color: rgb(233, 229, 218);
        }
    }
}
.mainlogo {
    margin-left: 10px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
}